@import "../../index.module.scss";

.username-container{
    position: relative;
    align-self: center;
    display: flex;
    flex-direction: column;
    width: min(500px, 80%);
    margin-top: 20px;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.187);
    border-radius: 1rem;
    background: white;
    border-radius: 0.2rem;

    input:focus {
        outline: none;
    }
}

.username{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;

    p {
        min-width: min(90%, max-content);
    }

    input{
        display: inline-flex;
        background-color: transparent;
        border: 0;
        min-width: min(90%, 150px);
        flex: 1;
        &::placeholder{
            font-size: 14px;
            font-weight: 700;
            color:rgba(79, 79, 77, 1);
            font-family: $Inter;
        }
        font-family: $Inter;
        font-size: 14px;
        font-weight: 700;
        color:rgba(79, 79, 77, 1);
    }
}

.confirmOptionCreatePost{
    display: flex;
    align-items: center;
    .exitConfirmOptionCreatePost{
        width: 10px;
        height: 10px;
        cursor: pointer;
    }

    .rightConfirmOptionCreatePost{
        width: 12px;
        height: 15px;
        margin-right: 10px;
        cursor: pointer;
    }

    button {
        background: none;
        border: none;
    }
}
